*, *::after *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgba(212, 252, 246, 0.795);
  color: rgb(30, 153, 194);
  font-family: sans-serif;
}

.blurred{
  filter: blur(3px);
  overflow: hidden;
}

header{
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.header-left{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid rgb(0, 0, 0);
}

.weather-image{
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.weather-image-large{
  height: 80px;
  width: 80px;
}

.header-current-temp{
  font-size: 2rem;
  margin-left: 1rem;
}

.header-right{
  display: grid;
  width: 50%;
  justify-content: space-around;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label{
  color: rgb(65, 111, 127);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-info{
  font-size: 0.8rem;
}

.day-section{
  display: grid;
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 35%;
  grid-template-columns: repeat(3, 7.4rem);
  column-gap: 8%;
  row-gap: 1rem;
  padding: 1rem;
}

.day-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(194, 254, 234, 0.414);
  border-radius: 0.4rem;
  box-shadow: 3px 4px rgb(64, 117, 95);
  padding: 1.5rem;
  cursor: pointer;
}

.day-card:active{
  transform: translate(3px, 4px);
  box-shadow: 0 0;
}

.day-card-day{
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(65, 111, 127);
  margin-top: 0.5rem;
}

.hour-section{
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour-row{
  background-color: rgba(143, 216, 240, 0.661); 
}

.hour-row:nth-child(2n){
  background-color: rgba(212, 252, 246, 0.795);
}

.hour-row>td{
  padding: 0.25rem 0.5rem;
}

@media (max-width: 600px) {
  .label { 
    font-size: 0.5rem; 
  }
  .day-section{
    width: 70%;
    grid-template-columns: repeat(auto-fit, 7rem);
    column-gap: 2.4rem;
  }
  .header-right{
    padding-right: 1rem;
  }
}